/* src/assets/css/app.css */

@font-face {
    font-family: 'input_mono_regular';
    src: url('../fonts/input_mono_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'input_mono_medium';
    src: url('../fonts/input_mono_medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* Main CSS stylesheet */
* {
  margin: 0;
  padding: 0;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'input_mono_regular';
}

:root {
  --background: #222;
  --highlight: #affec7;
  --f_high: #fff;
  --f_med: #777;
  --f_low: #444;
  --g_size: 20;
}

body {
  background-color: var(--background);
}

#app {
  font-size: 100%;
  padding: calc(var(--g_size) * 2 * 1px);
  color: var(--f_low);
  background-color: var(--background);
  margin: calc(50vh - var(--g_size) * 20 / 2 * 1px ) auto;
  max-width: calc(var(--g_size) * 20 * 1px);
  max-height: calc(11.5 * var(--g_size) * 1px);
  width: calc(100% - var(--g_size) * 4 * 1px); /* 100% - 2 * padding */
}

#control {
  position: relative; 
  margin-top: calc(var(--g_size) / 2);
  max-width: calc(var(--g_size) * 20 * 1px);
  width: 100%;
  height: calc(var(--g_size) * 1px);
}

b {
  font-family: 'input_mono_medium';
}

.date {
  text-align: right;
  color: var(--f_high);
  width: calc(var(--g_size) * 5 * 1px);
  height: calc(var(--g_size) * 1px);
  position: absolute;  
  right: 0px;
  bottom: 0px;
}

.selected > td {
  color: var(--f_med);
}

input:focus {
  outline: none;
}

.command {
  display: none;
  width: calc(var(--g_size) * 8 * 1px);  
  height: calc(var(--g_size) * 1px);
  margin-left: calc(var(--g_size) * 6 * 1px);
  position: absolute;
  bottom: 0px;
  background-color: var(--background);
  color: var(--f_high);
  z-index: 1;
}

.active {
  display: block; 
}

td {
  width: calc(var(--g_size) * 1px);
  height: calc(var(--g_size) * 1px);
  display: flex;
  justify-content: center;
  align-items: center;
}

tr {
  display: flex;
}

td:first-child {
  color: var(--f_med);
  justify-content: flex-end;
  width: calc(var(--g_size)* 5 * 1px);
  margin-right: calc(var(--g_size) * 1px);
}

tr.selected > td:first-child {
  color: var(--f_high);
}

.yay {
  color: var(--highlight) /* !important */;
}

